<!DOCTYPE html> 
{% load static %}

<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Land Parcel Map</title>
  
        <link rel = "stylesheet" href="{% static 'css/mystyle.css' %}">
        


    </head>

    <body>
        <h1>Land Parcel Map</h1>
        <h2>{{insert_map}} </h2>
        <image src=" {% static  'images/logo.jpg' %}" alt="Land Parcel Map Design" width="200" height="200">
        <p>The first template index.html</p>
        
        <p>Design the landing page structure to show the land parcel</p>
    </body>
       


</html>

